<h1 id="tableLabel">Airplanes-Edit</h1>

<form #AirplaneDto="ngForm" (submit)="onSubmit(AirplaneDto)" autocomplete="off">
  <input type="hidden" name="Id" id="Id" [(ngModel)]="service.getForm().id" >

  <div class="row">
    <div class="col-md-3">
      <label>Código do Avião</label>
    </div>
    <div class="col-md-9">
      <input type="text" name="CodigoAviao" id="CodigoAviao" [(ngModel)]="service.getForm().codigoAviao">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>Modelo</label>
    </div>
    <div class="col-md-9">
      <input type="text" name="Modelo" id="Modelo" [(ngModel)]="service.getForm().modelo">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>Passageiros</label>
    </div>
    <div class="col-md-9">
      <input type="text" name="Passageiros" id="Passageiros" [(ngModel)]="service.getForm().passageiros">
    </div>
  </div>

  <input class="btn btn-primary" type="submit" value="Editar Airplanes" />
</form>
